h1 {
    text-align: center;
}

p {
    text-align: left;
    margin: 0 20px;
    margin-bottom: 20px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: auto;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #08d101;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: rgb(26, 19, 19);
    transition: .4s;
}

input:checked + .slider {
    background-color: #c8cecf;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.inactivo {
    background-color: #c8cecf;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

#agregarProducto {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

#eliminarTodos {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 1em;
    margin: 5px;
}

button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 3px 7px;
    cursor: pointer;
    font-size: 0.9em;
    margin-left: 10px;
}
